
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>Login</h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li><a href="#">Home</a></li>
                    <li class="active">Login</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs end-->

<!--container start-->
<div class="login-bg">
    <div class="container">
        <div class="form-wrapper">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => "form-signin wow fadeInUp", :style => "margin-top:30px;"}) do |f| %>
        <h2 class="form-signin-heading">Sign in now</h2>
        <div class="login-wrap">
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email"%>
            </div>
            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              
              <label class="checkbox">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  <span class="pull-right">
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                      <% end -%>
                  </span>
              </label>
              
            <% end -%>
            
            <button class="btn btn-lg btn-login btn-block" type="submit">Sign in</button>
            <!--
            <p>or you can sign in via social network</p>
            <div class="login-social-link">
                <a href="index.html" class="facebook">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>
                <a href="index.html" class="twitter">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
            </div>
            -->
            <div class="registration">
                Don't have an account yet?
                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                <% end -%>
            </div>

        </div>

          <!-- Modal -->
          <div aria-hidden="true" aria-labelledby="myModal" role="dialog" tabindex="-1" id="myModal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Forgot Password ?</h4>
                      </div>
                      <div class="modal-body">
                          <p>Enter your e-mail address below to reset your password.</p>
                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                      </div>
                      <div class="modal-footer">
                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                          <button class="btn btn-success" type="button">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal -->

      <%end%>
      </div>
    </div>
</div>
<!--container end-->